html {
  background: mediumseagreen;
  font-family: sans-serif;
 
  background-image: url(maxresdefault.jpg);   <!-- Вставляем в качестве фона картинку -->

}

#form {
	
		background: url(white-wallpaper-png-4.jpg); 
		width:1500px;
		height:850px;
		margin: 3% 3%;
		padding: 20px;
		background-color: #E5EBFE;
		
		}
.headForm{
		font-style:italic;
		font-family: ‘Monotype Corsiva’, cursive;
		font-size: 30px;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
		
}
.information{
	padding-left: 20px;
	font-size: 20px;
	background-color: #E5EBFE;
	text-align: left;
	font-style:italic;
	font-family:"Times New Roman";
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
	
#info{
	padding: 50px;
	text-align: left;
}	
