html {
  background: mediumseagreen;
  font-family: sans-serif;
  font-size: 14px;
  background-image: url(2fons.ru-77974.jpg);   <!-- Вставляем в качестве фона картинку -->

}

#form {
	
		background: url(white-wallpaper-png-4.jpg); 
		width:1200px;
		height:1300px;
		margin: 3% 13%;
		padding: 10px;
		background-color: #E5EBFE;
		text-align: center;
		font-style:italic;
		font-family: ‘Monotype Corsiva’, cursive;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
		}
		
.headForm{
		font-style:italic;
		font-family: ‘Monotype Corsiva’, cursive;
		font-size: 30px;
		box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
		
}	

.information{
	background-color: #E5EBFE;
	text-align: center;
	font-style:italic;
	font-family:"Times New Roman";
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
		